
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Neritt</title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://neritt.in/assets/user/images/assets/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://neritt.in/assets/user/images/assets/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://neritt.in/assets/user/images/assets/favicons/favicon-16x16.png" />
    <link rel="manifest" href="https://neritt.in/assets/user/images/assets/favicons/site.webmanifest" />
    <meta name="description" content="Nerhin" />
    <meta name="csrf-token" content="M8nBhmcTYhzUi1C5Q8rmnsAna56HcdeJyFqf2CEm" />
    <link rel=" preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Rajdhani:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://neritt.in/assets/user/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://neritt.in/assets/user/css/as.range.min.css" rel="stylesheet">
    <link href="https://neritt.in/assets/user/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <style>
        .empty-wishlist-container {
            display: flex;
            justify-content: center; /* Horizontally center the content */
            align-items: center; /* Vertically center the content */
            height: 30vh; /* Make the container full height of the viewport */
        }
        .wishlist-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap; /* Allow items to wrap if they exceed container width */
        }
        .empty-wishlist-image {
            width: 500px; /* Adjust image width as needed */
        }

        .empty-wishlist-message {
          padding-top: 1%;
          padding-left: 50%;
          background-color: #abeeff;
          color: #1c7172;
          border: 1px solid #a0fdff;
          border-radius: 5px;
          margin-bottom: 20px;
        }
      </style>
</head>

<body>
    <%-include('header.ejs')-%>
    
    <section class="title-block" style="background: #ffffff; min-height: 0;">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>MY Wishlist </h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            
            
            <!-- Edit only this with data -->
            
            <div class="col-md-12 prodct-loop-items">
                <div class="the-product-listing">
                    <input type="hidden" name="token" value="M8nBhmcTYhzUi1C5Q8rmnsAna56HcdeJyFqf2CEm" id="csrf_token">
                    <div class="row" id="product_list" >
                        <div class="wishlist-container">
                        <% if (wishlist && wishlist.products && wishlist.products.length > 0) { %>
                            <% wishlist.products.forEach((wish_list, index) => { %>
                                <div class="col-md-2 col-sm-6 col-6">
                                    <div class="product-item">
                                        <div class="product-item-inner" style="border: 2px solid #129393;padding: 10px;">
                                            <div class="featured-image">
                                                <!-- Check if product image exists -->
                                                <% if (wish_list.image) { %>
                                                    <a href="#">
                                                        <img style="width: 225px; height: 225px;" src="/<%= wish_list.image %>" alt="Image not found">
                                                    </a>
                                                <% } %>
                                            </div>
                                            <div class="product-description">
                                                <!-- Display product name -->
                                                <p style="font-size: 20px; margin-top: 0; margin-bottom: 0;"><b><%= wish_list.name %></b></p>
                                                <!-- Display product price -->
                                                <p style="margin-top: 0; margin-bottom: 0; color: green;">Special Price</p>
                                                <div class="price" style="margin-top: 0; margin-bottom: 0;">
                                                    <span class="new-price">₹ <%= wish_list.price %></span>
                                                </div>
                                            </div>
                                            <div class="add-to-cart" style="padding-bottom: 10px;">
                                                <!-- Add button to remove product from wishlist -->
                                                <a href="/add-to-cart/<%= wish_list.product.id %>" id="addToCartBtn" class="btn btn-secondary" style="background: #C0FAFA; border: 1px solid #129393; width: 100%; text-align: center; padding: 7px 15px; color: #129393;">Add to Cart</a>

                                            </div>
                                            <div class="add-to-cart" >
                                                <!-- Add button to remove product from wishlist -->
                                                <a href="/wishlist/remove/<%= wish_list.product.id %>" class="btn btn-secondary" style="background: #C0FAFA; border: 1px solid #129393; width: 100%; text-align: center; padding: 7px 15px; color: #129393;">Remove Product</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        <% } else { %>
                            <!-- <div class="empty-wishlist-message ">
                                <p>No items in wishlist</p>
                             </div> -->
                             <div class="empty-wishlist-container">
                                <img class="empty-wishlist-image" src="/public/images/emptyWishlist.jpg" alt="Empty Wishlist">
                            </div>
                            
                            
                        
                        <% } %>
                    </div>
                        
                  
                     


                    </div>
                </div>
            </div>
            
          
        </div>
      
  
      
    </div>
</section>
    <div class="modal fade" style="vertical-align: middle;padding-top:10%;" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">School</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <select class="form-control" id="school_list">
                <option value="">Select School</option>
                                <option value="1">BHARATIYA VIDYA BHAWAN&#039;S VIKAS VIDYALAYA - PONNANI</option>
                                <option value="2">AL FALAH A.M.M ENGLISH SCHOOL Kakkidippuram</option>
                              
                            </select>
            <span id="school_err" style="color:red;display:none;">please select school</span>
        </div>
        <div class="modal-footer">
            <button type="button" id="schoolSubmit" class="btn btn-secondary">OK</button>
            <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>    <div class="goto-top-button" id="back-to-top">
        <a href="#">
            <div class="goto-top"><span class="sr-only">goto top</span>
                <div class="line-icon"></div>
            </div>
        </a>
    </div>
    <footer>
        <div class="container">
            <div class="top-footer">
                <div class="row">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="https://neritt.in">
                                <img src="/public/images/logo-dark.png" alt="">
                            </a>
                        </div>
                        <div class="social-icons">
                            <h4>Stay touch with us</h4>
                            <ul>
                                <li>
                                    <a href=" #" target="_blank" target="_blank">
                                        <svg id="Group_2956" data-name="Group 2956" xmlns="http://www.w3.org/2000/svg" width="8.873" height="16.639" viewBox="0 0 8.873 16.639">
                                            <path id="facebook-f-brands_1_" data-name="facebook-f-brands (1)" d="M31.182,9.359l.46-3.011H28.765V4.394a1.5,1.5,0,0,1,1.69-1.627h1.308V.2A15.883,15.883,0,0,0,29.441,0c-2.369,0-3.918,1.442-3.918,4.053V6.348H22.89V9.359h2.634v7.279h3.241V9.359Z" transform="translate(-22.89 0)" fill="#fff" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <svg id="Group_2957" data-name="Group 2957" xmlns="http://www.w3.org/2000/svg" width="16.512" height="16.512" viewBox="0 0 16.512 16.512">
                                            <g id="instagram-line">
                                                <path id="Path_700" data-name="Path 700" d="M0,0H16.512V16.512H0Z" fill="none" />
                                                <path id="Path_701" data-name="Path 701" d="M8.88,6.816A2.064,2.064,0,1,0,10.944,8.88,2.064,2.064,0,0,0,8.88,6.816Zm0-1.376A3.44,3.44,0,1,1,5.44,8.88,3.44,3.44,0,0,1,8.88,5.44Zm4.472-.172a.86.86,0,1,1-.86-.86A.86.86,0,0,1,13.352,5.268ZM8.88,3.376c-1.7,0-1.98,0-2.772.04a3.738,3.738,0,0,0-1.237.228A2.147,2.147,0,0,0,3.644,4.871a3.732,3.732,0,0,0-.228,1.237c-.036.76-.04,1.025-.04,2.772,0,1.7,0,1.98.04,2.772a3.753,3.753,0,0,0,.228,1.236A2.139,2.139,0,0,0,4.87,14.115a3.745,3.745,0,0,0,1.238.229c.76.036,1.025.04,2.772.04,1.7,0,1.98,0,2.772-.04a3.76,3.76,0,0,0,1.236-.228,2.01,2.01,0,0,0,.743-.483,1.989,1.989,0,0,0,.484-.743,3.761,3.761,0,0,0,.228-1.238c.036-.76.04-1.025.04-2.772,0-1.7,0-1.98-.04-2.772a3.745,3.745,0,0,0-.228-1.237,2,2,0,0,0-.484-.743,1.984,1.984,0,0,0-.743-.484,3.736,3.736,0,0,0-1.237-.228C10.892,3.38,10.627,3.376,8.88,3.376ZM8.88,2c1.869,0,2.1.007,2.836.041a5.068,5.068,0,0,1,1.67.32,3.354,3.354,0,0,1,1.219.793A3.377,3.377,0,0,1,15.4,4.374a5.082,5.082,0,0,1,.32,1.67c.032.733.041.967.041,2.836s-.007,2.1-.041,2.836a5.086,5.086,0,0,1-.32,1.67A3.513,3.513,0,0,1,13.386,15.4a5.082,5.082,0,0,1-1.67.32c-.733.032-.967.041-2.836.041s-2.1-.007-2.836-.041a5.086,5.086,0,0,1-1.67-.32,3.513,3.513,0,0,1-2.012-2.012,5.065,5.065,0,0,1-.32-1.67C2.009,10.982,2,10.749,2,8.88s.007-2.1.041-2.836a5.065,5.065,0,0,1,.32-1.67A3.513,3.513,0,0,1,4.374,2.361a5.065,5.065,0,0,1,1.67-.32C6.777,2.009,7.011,2,8.88,2Z" transform="translate(-0.624 -0.624)" fill="#fff" />
                                            </g>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16.52" height="11.437" viewBox="0 0 16.52 11.437">
                                            <path id="Path_11489" data-name="Path 11489" d="M31.224,27.5H20.3a2.8,2.8,0,0,0-2.8,2.8v5.846a2.8,2.8,0,0,0,2.8,2.8H31.224a2.8,2.8,0,0,0,2.8-2.8V30.3A2.8,2.8,0,0,0,31.224,27.5Zm-4.765,6.989L23.981,35.76V30.677l2.478,1.271,2.478,1.271Z" transform="translate(-17.5 -27.5)" fill="#fff" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a href="/getCategory">Shop by Category</a></li>
                            <li><a href="/about">About Us</a></li>

                            <li><a href="/contact">Contact Us</a></li>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                            <li><a href="/terms">Terms & Conditions</a></li>
                            <li><a href="/cancellation-policy">Cancellation & Refund Policy</a></li>
                            <li><a href="/shipping-policy">Shipping & Delivery Policy</a></li>




                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>My account</h3>
                        <ul>

                            <li><a href="/my-orders">My Account</a></li>
                            <li><a href="/cart">Cart</a></li>
                            <li><a href="/my-orders">My Orders</a></li>
                            <li><a href="/school-registration">School Registration </a></li>
                            <li><a href="/supplier-registration">Supplier Registration</a></li>

                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h3>Help & Support</h3>
                        <div class="support-block">
                            <p class="small">Chat On Whatsapp</p>
                            <div class="whatsapp">
                                <h4>
                                    <span>
                                        <svg id="_1269930_call_social_social_media_whatsapp_icon" data-name="1269930_call_social_social media_whatsapp_icon" xmlns="http://www.w3.org/2000/svg" width="22.532" height="22.532" viewBox="0 0 22.532 22.532">
                                            <g id="Group_2955" data-name="Group 2955">
                                                <path id="WhatsApp" d="M22.532,10.965A11.016,11.016,0,0,1,11.466,21.931a11.144,11.144,0,0,1-5.358-1.377L0,22.532l2-5.883A10.979,10.979,0,0,1,11.466,0,11.016,11.016,0,0,1,22.532,10.965ZM11.466,1.752a9.253,9.253,0,0,0-9.288,9.213,9.033,9.033,0,0,0,1.778,5.408L2.8,19.8l3.58-1.127A9.246,9.246,0,1,0,11.466,1.752Zm5.583,11.742a1.926,1.926,0,0,0-.526-.325c-.275-.125-1.6-.776-1.853-.876s-.426-.125-.6.125c-.175.275-.7.876-.851,1.051a.418.418,0,0,1-.576.075,7.279,7.279,0,0,1-2.178-1.327,8.108,8.108,0,0,1-1.5-1.853.385.385,0,0,1,.125-.551c.125-.125.275-.325.4-.476a2.707,2.707,0,0,0,.275-.451.462.462,0,0,0-.025-.476c-.075-.125-.6-1.452-.826-2-.225-.526-.451-.451-.6-.451s-.35-.025-.526-.025a1.078,1.078,0,0,0-.726.325,3.032,3.032,0,0,0-.951,2.253,5.26,5.26,0,0,0,1.1,2.779,11.052,11.052,0,0,0,4.632,4.056c2.754,1.077,2.754.726,3.255.676a2.746,2.746,0,0,0,1.828-1.277A2.17,2.17,0,0,0,17.049,13.494Z" fill="#fff" />
                                            </g>
                                        </svg>
                                    </span> <a href="https://api.whatsapp.com/send?phone=+919539800035&text=Hello%20Neritt%2C%0ANeed%20your%20help" target="_blank">(+91) 7994 8702 62</a>
                                </h4>
                                <p class="c-g">FOR COMPLAINTS</p>
                                <a class="email-sec">infoc@ neritt.in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div><a class="whats-app" href="https://api.whatsapp.com/send?phone=+919539800035&text=Hello%20Neritt%2C%0ANeed%20your%20help" target="_blank">
                    <i class="fa fa-whatsapp my-float"></i>
                </a></div>
            
        </div>
    </footer>
       
    <!-- <script>
        $(function() {
            $(".slider-full-img .slider-img img").blowup();
        });
    </script> -->




    <script>
        $(document).ready(function() {
            $(".set > a").on("click", function() {
                if ($(this).hasClass("active")) {
                    $(this).removeClass("active");
                    $(this)
                        .siblings(".content")
                        .slideUp(200);
                    $(".set > a i")
                        .removeClass("AccordionsArrowUp")
                        .addClass("AccordionsArrowDown");
                } else {
                    $(".set > a i")
                        .removeClass("AccordionsArrowUp")
                        .addClass("AccordionsArrowDown");
                    $(this)
                        .find("i")
                        .removeClass("AccordionsArrowDown")
                        .addClass("AccordionsArrowUp");
                    $(".set > a").removeClass("active");
                    $(this).addClass("active");
                    $(".content").slideUp(200);
                    $(this)
                        .siblings(".content")
                        .slideDown(200);
                }
            });

            var enrollType;
            //  $("#div_id_As").hide();
            $("input[name='As']").change(function() {
                memberType = $("input[name='select']:checked").val();
                providerType = $("input[name='As']:checked").val();
                toggleIndividInfo();
            });

            $("input[name='select']").change(function() {
                memberType = $("input[name='select']:checked").val();
                toggleIndividInfo();
                toggleLearnerTrainer();
            });

            function toggleLearnerTrainer() {

                if (memberType == 'P' || enrollType == 'company') {
                    $("#cityField").hide();
                    $("#providerType").show();
                    $(".provider").show();
                    $(".locationField").show();
                    if (enrollType == 'INSTITUTE') {
                        $(".individ").hide();
                    }

                } else {
                    $("#providerType").hide();
                    $(".provider").hide();
                    $('#name').show();
                    $("#cityField").hide();
                    $(".locationField").show();
                    $("#instituteName").hide();
                    $("#cityField").show();

                }
            }

            function toggleIndividInfo() {

                if (((typeof memberType !== 'undefined' && memberType == 'TRAINER') || enrollType == 'INSTITUTE') &&
                    providerType == 'INDIVIDUAL') {
                    $("#instituteName").hide();
                    $(".individ").show();
                    $('#name').show();
                } else if ((typeof memberType !== 'undefined' && memberType == 'TRAINER') || enrollType ==
                    'INSTITUTE') {
                    $('#name').hide();
                    $("#instituteName").show();
                    $(".individ").hide();
                }
            }
        });
    </script>
    <script>
        const items = document.querySelectorAll(".AboutAccordion button");

        function toggleAccordion() {
            const itemToggle = this.getAttribute('aria-expanded');

            for (i = 0; i < items.length; i++) {
                items[i].setAttribute('aria-expanded', 'false');
            }

            if (itemToggle == 'false') {
                this.setAttribute('aria-expanded', 'true');
            }
        }

        items.forEach(item => item.addEventListener('click', toggleAccordion));
    </script>

</body>

</html>